@tailwind base;
@tailwind components;
@tailwind utilities;
/* align-itemsは縦の中央ぞろえ */
/* justify-content:centerは横の中央ぞろえ */
::-webkit-scrollbar {
    width: 8px; /* 横スクロールバー */
    height: 8px; /* 縦スクロールバー */
}

/* スクロールバーの背景色 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 背景色 */
}

/* スクロールバーのつまみ部分（ハンドル）のスタイル */
::-webkit-scrollbar-thumb {
    background-color: #888; /* スクロールバーの色 */
    border-radius: 10px; /* 角を丸くする */
}

/* スクロールバーのつまみ部分（ハンドル）がホバーされたときのスタイル */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* ホバー時の色 */
}

header {
    background-color: white;
    height: 160px;
}
.header-navs {
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-navs__box--r {
        display: flex;
        align-items: center;
        gap: 10px;

        .search-menu_container {
            .search-menu__form {
                width: 180px;
                height: 46px;
                .search-menu__text {
                    width: 120px;
                }
                .search-menu__submit {
                    padding: 1px;
                    font-size: 13px;
                    width: 50px;
                    height: 30px;
                    border: 1px solid black;
                    border-radius: 5px;
                }
            }
        }
    }

    .header-navs__btn {
        width: 46px;
        height: 46px;
    }

    /* ここから設定メニュー一覧のアニメーション*/
    .settings-menu__container {
        /* height: 1%; */
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .settings-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 100;
        text-align: center;
        width: 100%;
        left: -100%;
        transition: 0.5s ease-in-out;
        border: solid 1px #121212;
    }

    .settings-menu li {
        width: 90%;
        font-size: 20px;
        padding: 10px;
        margin: 10px auto;
        border: solid 1px #191970;
    }
    .settings-menu.open {
        background-color: #b0c4de;
        height: 95%;
        width: 40%;
        left: 0;
        bottom: 0;
    }
    .settings-menu__logout {
        background-color: gray; /* ボタンの背景色 */
        color: white; /* 文字色 */
        padding: 10px 20px; /* ボタン内の余白 */
        border: none; /* ボタンの枠線をなしに */
        border-radius: 5px; /* 角を丸く */
        font-size: 16px; /* 文字の大きさ */
        cursor: pointer; /* ポインタがボタンの上に来たときにカーソルが指に変わる */
        transition: background-color 0.3s ease; /* 背景色が変わるアニメーション */
    }
    /* /ここまで設定メニュー一覧のアニメーション*/

    /* ここからメインメニュー一覧のアニメーション */
    .main-menu__container {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .main-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 100;
        text-align: center;
        width: 100%;
        right: -100%;
        transition: 0.5s ease-in-out;
        border: solid 1px #121212;
        margin-right: 0;
    }
    .main-menu.open {
        background-color: #b0c4de;
        height: 100%;
        width: 30%;
        right: 0;
        bottom: 0;
    }
    .main-menu li {
        width: 90%;
        font-size: 20px;
        padding: 10px;
        margin: 10px auto;
        border: solid 1px #191970;
    }
    /* ここまでメインメニュー一覧のアニメーション */
}

.date-tabs {
    display: flex;
    position: fixed;
    z-index: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 70px;
    background-color: white;
    width: 100%;
    top: 50px;
    padding: 0 20%;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;

    .date-tabs__btn {
        border: 2px solid black;
        width: 25%;
        height: 69px;
    }
    .active {
        border-bottom: solid 4px RGB(135, 206, 235, 0.9);
    }
}

.header-tasks__sup {
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
    width: 100%;
    top: 120px;
    padding: 1px 0;
    display: flex;
    justify-content: space-between;

    .show-error {
        margin-left: 3%;
        width: 30%;
        text-align: center;
    }
    .tasks-sort-form {
        margin-right: 3%;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;

        .tasks-sort-form__submit {
            background-color: darkgray; /* ボタンの背景色 */
            color: white; /* 文字色 */
            padding: 10px 15px;
            border: 1px solid black;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            width: 100px;
        }
    }
}

.tasks-list__form {
    margin: 10px 100px;
    padding-bottom: 50px;
    .tasks-list {
        /* overflow: scroll; */
        .tasks-list__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            margin: 12px 5px;
            padding: 20px;
            border-radius: 20px;

            .tasks-list__item--content {
                font-weight: 480;
                text-align: center;
                width: 80%;
            }
            .tasks-list__item--edit {
                border: 1px solid black;
                margin: 5px;
            }
        }
    }
}

.bottom-actions {
    position: fixed;
    width: 100%;
    bottom: 10px;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bottom-actions__btn {
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        width: 46px;
        height: 46px;
    }
}

.tasks-add-form__container {
    height: 1%;
    width: 100%;
    position: relative;
    overflow: hidden;

    .tasks-add-form {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        bottom: -100%;
        transition: 0.5s ease-in-out;
        border: solid 1px #121212;
        margin-bottom: 0;
        z-index: 100;

        .tasks-add-form__item {
            margin: 5px auto;
            text-align: center;
        }
        .tasks-add-form__text {
            margin-top: 20px;
            height: 30px;
        }
        .tasks-add-form__date {
            height: 30px;
        }
        .tasks-add-form__submit {
            width: 200px;
            font-size: 20px;
            margin: 20px auto;
            padding: 10px 0;
            border: solid 2px #121212;
        }

        .tasks-add-form__radio {
            display: none;
        }

        .color-circle {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid #ccc;
            cursor: pointer;
            transition: border-color 0.3s, transform 0.3s;
        }

        /* ラジオボタンが選択されていないときの色を表示 */
        .tasks-add-form__radio[value="1"] + .color-circle {
            background-color: #ff6347;
        }
        .tasks-add-form__radio[value="2"] + .color-circle {
            background-color: #00ff7f;
        }
        .tasks-add-form__radio[value="3"] + .color-circle {
            background-color: #d3d3d3;
        }

        /* ラジオボタンが選択されたときの枠線を太く */
        .tasks-add-form__radio:checked + .color-circle {
            border-color: #333;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            transform: scale(
                1.1
            ); /* 少し拡大することで、選択された感覚を強調 */
        }
    }
    .tasks-add-form.open {
        background-color: #b0c4de;
        height: 50vh;
        bottom: 0;
    }
}

@media screen and (max-width: 644px) {
    .header-navs {
        border: 1px solid white;

        .settings-menu.open {
            width: 50%;
        }
        .main-menu.open {
            width: 50%;
        }
    }
    .date-tabs {
        padding: 0 10%;
        font-size: 30px;

        .date-tabs__btn {
            width: 30%;
            height: 50px;
        }
    }

    .header-tasks__sup {
        top: 106px;
        border-top: 3px solid white;
        .show-error {
            margin-left: 3%;
            width: 30%;
            font-size: 12px;
        }
        .tasks-sort-form {
            margin-right: 1%;
            gap: 5px;
            width: 20%;

            .tasks-sort-form__submit {
                padding: 5px 10px;
                border: 1px solid black;
                border-radius: 10px;
                font-size: 14px;
            }
        }
    }
    .tasks-list__form {
        margin: 10px;
    }
}
