@tailwind base;
@tailwind components;
@tailwind utilities;

.padding-5 {
    padding: 3px 5px 3px 5px;
}
.center {
    align-items: center;
    justify-content: center;
}
.header-navs {
    display: flex;
    border: 1px solid;
    align-items: center;
    /* align-itemsは縦の中央ぞろえ */
    /* justify-content:centerは横の中央ぞろえ */
    justify-content: space-between;

    .header-navs__box--r {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .header-navs__btn {
        width: 30px;
        height: 30px;
    }
}
